:css
  .no { color: red; }
  .yes { color: green; }
%h1 All Prompts

%pre=current_project.replies.to_json

%table.table
  %tr
    %th Section
    %th ID
    %th Instructions
    %th Complete
  -@prompts.each do |p|
    %tr
      %td=p.section.title
      %td=p.id
      %td=link_to p.instructions.html_safe, prompt_path(p)
      %td
        -if @replies[p.id]
          .yes
            Yup, #{@replies[p.id].answer}
        -else
          .no
            Nope

%h2 Replies
%pre=@replies.to_json

%h2 Next Prompt
%pre=@next_prompt.to_json