-content_for :nav do
  =render 'sections/nav'

%h3.no-mt.prompt-instructions!= @prompt.instructions

%p.prompt-details!= @prompt.details

=form_for @reply do |form|

  =form.hidden_field :prompt_id
  !=prompt_input_factory(form, @prompt.type_of, @prompt.replies.last.answer, @prompt.suggested_answers, @prompt.hint)

  .row
    .col-sm-3
      =link_to "Back", :back, class: 'btn btn-default'
    .col-sm-3
      .checkbox.prompt-radio
        %label{ title: 'I don\'t want to answer this' }
          =form.check_box(:skipped)
          Skip?
    .col-sm-3
      .checkbox.prompt-radio
        %label{ title: 'This is not applicable to me' }
          =form.check_box(:not_applicable)
          Not Applicable?
    .col-sm-3.text-right
      %button.btn.btn-primary
        Continue
        =fa_icon 'chevron-circle-right'

%pre=@prompt.to_json

Replies
-@prompt.replies.each do |reply|
  %pre=reply.to_json
