%h3.no-mt!= @prompt.instructions

.panel.panel-default
  .panel-body
    =form_for @prompt, url: {action: "create"} do |form|
      !=prompt_input_factory(form, @prompt.type_of, @prompt.replies.last.answer, @prompt.suggested_answers)

%pre=@prompt.to_json

Replies
-@prompt.replies.each do |reply|
  %pre=reply.to_json
