-content_for :nav do
  =render 'sections/nav'

%h3.no-mt.prompt-instructions!= @prompt.instructions

%p.prompt-details!= @prompt.details

=form_for @reply do |form|
  =form.hidden_field :prompt_id
  =form.hidden_field :complete, value: true
  !=prompt_input_factory(form, @prompt.type_of, @prompt.replies.last.answer, @prompt.suggested_answers, @prompt.hint)
  -#.row
    .col-sm-3
      .checkbox.prompt-radio
        %label{ title: 'I don\'t want to answer this' }
          =form.check_box(:skipped)
          Skip?
    .col-sm-4
      .checkbox.prompt-radio
        %label{ title: 'This is not applicable to me' }
          =form.check_box(:not_applicable)
          Not Applicable?
  .row.mt-xx
    .col-xs-6
      =link_to section_path(@prompt.section_id), class: 'btn btn-default btn-lg' do
        =fa_icon 'chevron-circle-left'
        Back
    .col-xs-6.text-right
      %button.btn.btn-primary.btn-lg
        Continue
        =fa_icon 'chevron-circle-right'
