-if type_of == 'text'
  .minimap-text.minimap-text-header
-elsif type_of == 'textarea'
  .minimap-text.minimap-text-content
  .minimap-text.minimap-text-content
-elsif type_of == 'checkbox'
  .minimap-text.minimap-list
-elsif type_of == 'radio'
  .minimap-text.minimap-text-content-short
-elsif type_of == 'attachment'
  .minimap-icon.minimap-media