.minimap
  .minimap-body
    .minimap-text.minimap-text-header
    .minimap-text.minimap-text-content
    .minimap-icon.minimap-media
    .minimap-text.minimap-text-content
    .minimap-text.minimap-text-header
    .minimap-text.minimap-text-content
    .minimap-text.minimap-text-header
    .minimap-text.minimap-text-content
    .minimap-text.minimap-list
    .minimap-text.minimap-text-content
    .minimap-text.minimap-text-content
    .minimap-icon.minimap-media
    .minimap-text.minimap-text-content
    .minimap-text.minimap-text-header
    .minimap-text.minimap-text-content
    .minimap-text.minimap-text-header
    .minimap-text.minimap-text-content
    .minimap-text.minimap-list
    .minimap-text.minimap-text-content
    .minimap-icon.minimap-media
    .minimap-text.minimap-text-content
    .minimap-text.minimap-text-header
    .minimap-text.minimap-text-content
    .minimap-text.minimap-text-header
    .minimap-text.minimap-text-content
    .minimap-text.minimap-list
    .minimap-text.minimap-text-content
    .minimap-text.minimap-text-content
    .minimap-icon.minimap-media
    .minimap-text.minimap-text-content
    .minimap-text.minimap-text-header
    .minimap-text.minimap-text-content
    .minimap-text.minimap-text-header
    .minimap-text.minimap-text-content
    .minimap-text.minimap-list

  .minimap-toggle
    =fa_icon 'caret-square-o-right', class: 'fa-fw minimap-action-close'
    =fa_icon 'caret-square-o-left', class: 'fa-fw minimap-action-open'
