-sections.each do |section|
  %h3
    =link_to section.title, section_path(section), class: 'section-link'
    %span.badge
      =pluralize(section.prompts.count, 'Prompt')
    -if @status[section.id]
      %span.label.label-default
        @status[s.id].status
    -else
      %span.label.label-success
        New
