%table.table
  %tr
    %th ID
    %th Seq
    %th Level
    %th Section
    %th Status
    %th Next Sib
    %th Prompts
  -sections.each do |s|
    %tr
      %td=s.id
      %td=s.sequence
      %td=s.level
      %td=link_to s.title, section_path(s)
      %td
        -if @status[s.id]
          %div{class:@status[s.id].status}=@status[s.id].status
        -else
          ?
      %td
        -if s.next_sibling
          =s.next_sibling.id
      %td=s.prompts.count