:css
  .empty { color: #C14249; }
  .incomplete { color: #F6AE2F; }
  .complete { color: #61C73A; }

%h1.no-mt All Sections
%p Choose an area of your site that you would like to tackle first. Go ahead, it's easy!
=render 'list', sections: @sections