:css
  .description { font-size: 1.4em; }

-content_for :nav do
  =render 'sections/nav'

%h1.prompt-instructions=@section.title

-if @section.description
  .description!=@section.description

-if @section.first_prompt
  .mt-xx
    .pull-right
      =link_to @section.first_prompt, class: 'btn btn-primary btn-lg' do
        Get Started
        =fa_icon 'chevron-circle-right'

-#if @section.prompts.size > 0
  %h1 Child Prompts

  %table.table
    %tr
      %th Section
      %th ID
      %th Sequence
      %th Instructions
    -@section.prompts.each do |p|
      %tr
        %td=p.section.title
        %td=p.id
        %td=p.sequence
        %td=link_to p.instructions.html_safe, prompt_path(p)

-#if @section.children.size > 0
  %h1 Child Sections
  =render 'list', sections: @section.children