%small.text-muted Section
%h1=@section.title

%pre=@section.to_json

-if @section.prompts.size > 0
  %h1 Child Prompts

  %table.table
    %tr
      %th Section
      %th ID
      %th Instructions
    -@section.prompts.each do |p|
      %tr
        %td=p.section.title
        %td=p.id
        %td=link_to p.instructions, prompt_path(p)

-if @section.children.size > 0
  %h1 Child Sections
  =render 'list', sections: @section.children