%h1 SHOW SECTION

%pre=@section.to_json

%h1 Child Prompts

%table.table
  %tr
    %th Section
    %th ID
    %th Instructions
  -@section.prompts.each do |p|
    %tr
      %td=p.section.title
      %td=p.id
      %td=link_to p.instructions, prompt_path(p)