%h1.no-mt Results

%h2=current_project.name

-current_project.flow.sections.where(level:1).each do |s|
  .results-child
    %h3=s.title
    -s.children.each do |c|
      .results-child
        %h3=c.title
        .results-child
          -c.prompts.each do |p|
            .result-prompt
              %p
                %em
                  =p.instructions
              %p
                -if @replies[p.id]
                  %b=@replies[p.id].answer
                -else
                  %span.text-muted
                    No answer

/%pre=@replies