// global variables & overrides
//-----------------------------

// colors
$white: #fff;
$green: #308958;

// fonts
$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-icon: 'FontAwesome';

// box model
$box-space: 1em;
$box-space-x: 2em;
$box-space-xx: 3em;

// breakpoints
$container-sm: 100%; // @override
$container-md: 100%; // @override

// nav whatevers
$navbar-default-bg: $green;
$navbar-default-border: darken($green, 25%);

$navbar-default-link-color: #fff;
$navbar-default-color: #fff;

// button colors
$btn-primary-color: #fff;
$btn-primary-bg: $green;