// global variables & overrides
//-----------------------------

// box model
$box-space: 1em;
$box-space-x: 2em;
$box-space-xx: 3em;

// breakpoints
$container-sm: 100%; // @override
$container-md: 100%; // @override
